[submodule "libmodbus"]
	path = libmodbus
	url = git://github.com/stephane/libmodbus
[submodule "MB_Framework"]
	path = MB_Framework
	url = git@github.com:icke2063/MB_Framework.git
[submodule "src/I2C/I2C_IO_BOARD.git"]
	path = src/I2C/I2C_IO_BOARD.git
	url = git@github.com:icke2063/I2C_IO_BOARD.git
